/.DS_Store
/.vscode
/1_factory_method
/1_factory_method.dSYM
/2_factory_abstract
/2_factory_abstract.dSYM
/2_factory_abstract2
/2_factory_abstract2.dSYM
/3_builder
/3_builder.dSYM
/4_prototype
/4_prototype.dSYM
/5_singleton
/5_singleton.dSYM
/7_adapter
/7_adapter.dSYM
/8_bridge
/8_bridge.dSYM
/test
/test.dSYM